[Unit]
Description=Hashicorp Vault init
Documentation=https://www.vaultproject.io/
Wants=vyatta-router.service vault.service
After=network.target vyatta-router.service vault.service

[Service]
ExecStart=/etc/vault/init.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
