[Unit]
Description=Hashicorp Consul init
Documentation=https://consul.io/docs/
Wants=vyatta-router.service vault.service
After=network.target vyatta-router.service

[Service]
ExecStart=/etc/consul/init.sh
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
